<section id="cv">
    <div class="container">
        <h2><strong>Curriculum Vitae</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Education</strong></h4>
                <ul class="timeline">
                    <li>
                        <h5><strong>Degree Of System Engineer</strong> </h5>
                        <em class="font-italic">Universidad de Cuenca</em>
                        <p >I actively participated in programing competition where I improve my skills 
                            on data structures and algorithms.
                            <br/>
                            • 2019 – 9th Place (national) in the 13th edition of IEEEXTREME
                            Programming.
                            <br/>
                            • 2020 – 1st Place (national) in the 1st MiniIEEEXtreme "Edición 
                            Morlaca".
                            <br/>
                            • 2020 – 6th Place (national) in the 14th edition of IEEEXTREME 
                            Programming.
                        </p>
                        <p class="year p-2 d-flex justify-content-center">2016 - 2021</p>
                    </li>
                    <li>
                        <h5>Coursera</h5>
                        <em class="font-italic">Big Data-Introduction to the massive data <br> Universitat Autònoma 
                            de Barcelona </em>
                            <p >In this certification covers topic related to introduction to the 
                                fundamentals of Big Data, data visualization, data cleaning and data 
                                scalability technologies with Hadoop and Apache Spark.
                            </p>
                        <p class="year p-2 d-flex justify-content-center">2019 - 2020</p>

                        <em class="font-italic">Applied Data Science with Python, <br>University of Michigan </em>
                            <p >In this certification covers topics the use of language python to cleaning 
                                data through the library pandas, text mining, applied social network 
                                analysis and applied machine learning using scikit learn.
                            </p>
                        <p class="year p-2 d-flex justify-content-center">2019 - 2020</p>

                        <em class="font-italic">Project Management-First steps, <br>Tecnológico de Monterrey </em>
                            <p >This certification covers basic understanding of a project management
                                concept, first steps in the initiation and planning a project, control risks
                                and budget estimation.
                            </p>
                        <p class="year p-2 d-flex justify-content-center">2019 - 2020</p>

                        
                    </li>

                    <li>
                        <h5>Datapath</h5>
                        <em class="font-italic">Data Engineer <br>Datapath </em>
                            <p >Focused on building scalable and efficient data pipelines and processing systems 
                                using modern data engineering tools and frameworks. Gained hands-on experience with 
                                Apache Spark and PySpark for distributed data processing, and utilized Python libraries 
                                such as Pandas and NumPy for data manipulation and analysis. Developed and orchestrated workflows 
                                using Apache Airflow, and implemented containerized solutions with Docker to ensure reproducibility 
                                and deployment efficiency. This specialization strengthened my ability to handle large datasets, 
                                optimize data flows, and support advanced analytics and machine learning initiatives.
                            </p>
                        <p class="year p-2 d-flex justify-content-center">2023 - 2024</p>
                        <em class="font-italic">Data Engineer AWS <br>Datapath </em>
                            <p >Specialized in designing and implementing scalable, 
                                cloud-based data solutions using Amazon Web Services (AWS). 
                                Gained practical experience with core AWS services such as S3, 
                                Glue, Redshift, Athena, Lambda, and EMR to build end-to-end data 
                                pipelines. Focused on data ingestion, transformation, and storage 
                                using serverless and distributed architectures. Applied best practices 
                                for security, cost optimization, and performance tuning. 
                                This specialization enhanced my ability to manage large-scale data processing 
                                workflows and support real-time and batch analytics in the cloud.
                            </p>
                        <p class="year p-2 d-flex justify-content-center">2024 - 2024</p>

                        
                    </li>
                    <li> <h5>Universidad de Valencia</h5>
                        <em class="font-italic">Master in Big Data and Data Science <br>VIU - Universidad Internacional de Valencia </em>
                            <p >Specialized training in advanced data analysis, artificial intelligence, and machine learning. 
                                During the program, I acquired key skills in processing and visualizing large volumes of data, 
                                predictive modeling, data mining, and the use of technologies such as Python, R, Spark, and 
                                Hadoop. This master's program has allowed me to develop data-driven solutions aimed at 
                                strategic decision-making, applicable to multiple sectors and real-world challenges in 
                                today’s digital landscape.
                            </p>
                        <p class="year p-2 d-flex justify-content-center">2024 - 2025</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Professional Experience</strong></h4>
                <ul class="timeline">

                    <li>
                        <h5>Teacher</h5>
                        <em>University of Cuenca, Ecuador</em>

                        <p >Basic computer instructor of the “Gremio de Artesanos del Azuay”
                        </p>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2019 - 2020</p>
                            
                        </div>
                    </li>

                    <li>
                        <h5>Software Developer</h5>
                        <em>Developer, Cuenca</em>

                        <p >• Researcher of technologies to Big Data application
                        </p>

                        <p >• Back-End developer and data analyst
                        </p>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2019 - 2020</p>
                            
                        </div>
                    </li>

                    <li>
                        <h5>Specialized Technician For Research Projects</h5>
                        <em>Directorate of Research DIUC - University of Cuenca, Ecuador</em>

                        <p >Technician specialized in Learning Analytics for the study of Self-regulated Learning Strategies in a Hybrid Learning Context.
                            <br/>
                            • Visualization design for the Open edX MOOCs platform
                            <br/>
                            • Visualization development for Open Edx
                        </p>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">Aug 01-30, 2021</p>
                            
                        </div>
                    </li>

                    <li>
                        <h5>Software Developer </h5>
                        <em>Developer Unnoparts - Cuenca, Ecuador</em>
                        <p > • Back-End developer with C#
                            <br/>
                            • Front-End developer with Angular
                            <br/>
                            • Data Base Administrator in Oracle
                            <br/>
                            • Developer with Oracle Forms
                        </p>

                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">Sept 21, 2021 – june 6, 2022</p>
                            
                        </div>
                    </li>
                    <li>
                        <h5>Full Stack Developer </h5>
                        <em>Kruger Corporation - Remote, Ecuador</em>
                        <p > • Back-End developer with Java, Python
                            <br/>
                            • Front-End developer with Angular and JavaServer Faces
                            <br/>
                            • Data Analyst with Python (Pandas, NumPy, Power Bi)
                        </p>

                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">june 6, 2022 – now</p>
                            
                        </div>
                    </li>
                </ul>
            </div>
            

        </div>
    </div>
</section>