<section id="cv">
    <div class="container">
        <h2><strong>Curriculum Vitae</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Education</strong></h4>
                <ul class="timeline">
                    <li>
                        <h5><strong>Degree Of System Engineer</strong> </h5>
                        <em class="font-italic">Universidad de Cuenca</em>
                        <p >I actively participated in programing competition where I improve my skills 
                            on data structures and algorithms.
                            <br/>
                            • 2019 – 9th Place (national) in the 13th edition of IEEEXTREME
                            Programming.
                            <br/>
                            • 2020 – 1st Place (national) in the 1st MiniIEEEXtreme "Edición 
                            Morlaca".
                            <br/>
                            • 2020 – 6th Place (national) in the 14th edition of IEEEXTREME 
                            Programming.<br> Université De Lille, Fr
                        </p>
                        <p class="year p-2 d-flex justify-content-center">2016 - 2021</p>
                    </li>
                    <li>
                        <h5>Coursera</h5>
                        <em class="font-italic">Big Data-Introduction to the massive data <br> Universitat Autònoma 
                            de Barcelona </em>
                            <p >In this certification covers topic related to introduction to the 
                                fundamentals of Big Data, data visualization, data cleaning and data 
                                scalability technologies with Hadoop and Apache Spark.
                            </p>
                        <p class="year p-2 d-flex justify-content-center">2019 - 2020</p>

                        <em class="font-italic">Applied Data Science with Python, <br>University of Michigan </em>
                            <p >In this certification covers topics the use of language python to cleaning 
                                data through the library pandas, text mining, applied social network 
                                analysis and applied machine learning using scikit learn
                            </p>
                        <p class="year p-2 d-flex justify-content-center">2019 - 2020</p>

                        <em class="font-italic">Project Management-First steps, <br>Tecnológico de Monterrey </em>
                            <p >In this certification covers topics the use of language python to cleaning 
                                data through the library pandas, text mining, applied social network 
                                analysis and applied machine learning using scikit learn
                            </p>
                        <p class="year p-2 d-flex justify-content-center">2019 - 2020</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Professional Experience</strong></h4>
                <ul class="timeline">

                    <li>
                        <h5>Teacher</h5>
                        <em>University of Cuenca, Ecuador</em>

                        <p >Basic computer instructor of the “Gremio de Artesanos del Azuay”
                        </p>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">2019 - 2020</p>
                            
                        </div>
                    </li>

                    <li>
                        <h5>Specialized Technician For Research Projects</h5>
                        <em>Directorate of Research DIUC - University of Cuenca, Ecuador</em>

                        <p >Technician specialized in Learning Analytics for the study of Self-regulated Learning Strategies in a Hybrid Learning Context.
                            <br/>
                            • Visualization design for the Open edX MOOCs platform
                            <br/>
                            • Visualization development for Open Edx
                        </p>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">Aug 01-30, 2021</p>
                            
                        </div>
                    </li>

                    <li>
                        <h5>Computer Repair Services</h5>
                        <em>Freelancer Cuenca, Ecuador</em>

                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">Sept 2021 - Present</p>
                            
                        </div>
                    </li>
                </ul>
            </div>
            

        </div>
    </div>
</section>