<section id="portfolio">
    <div class="container" >
        <h2><strong>Portfolio</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
        
            <div class="col-lg-4 col-sm-12 " data-aos="flip-up">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div  class="card-header d-flex flex-column " style="height: 300px;width: 100%; "  >    
                        <div id="teamTraveler-img" class="img-wrap" style="height: 300px;width: 100%;  " [ngStyle]="{backgroundImage:'url(assets/images/qrRunner/loginScreen.png)'}" >
                        </div>
                        <div id="teamTraveler-link" class="links mt-auto d-flex justify-content-center">
                            <a href="assets/images/qrRunner/loginScreen.png" data-gall="teamTravelerGallery" class="venobox vbox-item" title="Login Screen"><i class="bx bx-zoom-in bx-md"></i></a>
                            <a href="assets/images/qrRunner/instructions.png" data-gall="teamTravelerGallery" class="venobox vbox-item" title="Instructions"></a>
                            <a href="assets/images/qrRunner/game.png" data-gall="teamTravelerGallery" class="venobox vbox-item" title="Game Screen"></a>
                            <a href="assets/images/qrRunner/result.jpg" data-gall="teamTravelerGallery" class="venobox vbox-item" title="Results"></a>
                            <a href="#portfolio" title="Link not found" target="_BLANK"><i class="bx bx-link bx-md"></i></a>
                        </div>
                    </div>

                    <div class="card-body">
                            <h3 class="card-title">Qr Runner</h3>
                            <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                            <p class="card-text">Android Studio, Angular, Ionic</p>
                            <div class="d-flex flex-row justify-content-center">
                                <a href="https://github.com/JonnHenry/QrRunner" target="_blank" target="_blank" type="button" class="btn btn-primary mr-3">Code Source</a> 
                                <button (click)="detailOnClick('qr-runner')" type="button" class="btn btn-primary">+ Project Details</button>
                            </div>
                            <div *ngIf="teamTravelerIsShown" class="mt-3">
                                <p>QrRunner is an application created as a game for the Student Week at the University of Cuenca. 
                                    I made this game for the Microsoft community to which I belong.</p>
                            </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-sm-12"  data-aos="flip-up">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">

                    <div  class="card-header d-flex flex-column " style="height: 300px;width: 100%; "  >    
                        <div  id="mautic-img" class="img-wrap" style="height: 300px;width: 100%;  " [ngStyle]="{backgroundImage:'url(assets/images/sentimentAnalysis/andrezlasso.jpg)'}" >

                        </div>
                        <div id="mautic-link" class="links mt-auto d-flex justify-content-center">
                            <a href="assets/images/sentimentAnalysis/andrezlasso.jpg" data-gall="MauticGallery" class="venobox vbox-item" title="Sentiment Analysis"><i class="bx bx-zoom-in bx-md"></i></a>
                            <a href="https://github.com/TheWorstOne/SentimentAnalysisEcuador2021#----sentimentanalysisecuador2021" title="Result" target="_BLANK"><i class="bx bx-link bx-md"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Sentiment Analysis</h3>
                        <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                        <p class="card-text">Python, Jupyter</p>
                        <div class="d-flex flex-row justify-content-center">
                            <a href="https://github.com/TheWorstOne/SentimentAnalysisEcuador2021" target="_blank" type="button" class="btn btn-primary mr-3">Code Source</a> 
                            <button (click)="detailOnClick('sentimentAnalysis')"  type="button" class="btn btn-primary">+ Project Details</button>
                        </div>
                        <div *ngIf="mauticMonitoringIsShown" class="mt-3">
                            <p>
                                Sentiment Analysis application for the presidential elections Ecuador 2021 using Twitter API, as well as to train a model for classifying the sentiments of these tweets.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12"  data-aos="flip-up">
                <div class="card shadow-lg p-3  bg-white rounded">
                    <div  class="card-header d-flex flex-column " style="height: 300px;width: 100%; "  >    
                        <div id="pokedex-img" class="img-wrap" style="height: 300px;width: 100%;  " [ngStyle]="{backgroundImage:'url(assets/images/sparkEnd/flightreport.png)'}" >

                        </div>
                        <div id="pokedex-link" class="links mt-auto d-flex justify-content-center">
                            <a href="assets/images/sparkEnd/flightreport.png" data-gall="pokedexGallery" class="venobox vbox-item" title="Dashboard"><i class="bx bx-zoom-in bx-md"></i></a>
                            <a href="https://sparkers-7bb48.web.app/devs" title="Web Page" ><i class="bx bx-link bx-md"></i></a>
                        </div>
                    </div>
                   
                    <div class="card-body">
                        <h3 class="card-title">Dashboard Sparkend</h3>
                        <h5 class="card-title"><strong>Technologies:</strong> </h5>
                        <p class="card-text">Hadoop, Spark, Pyspark, Flask, Angular</p>
                        <div class="d-flex flex-row justify-content-center">
                            <a href="https://github.com/TheWorstOne/Sparkend" target="_blank" type="button" class="btn btn-primary mr-3">Code Source</a> 
                            <button (click)="detailOnClick('Sparkend')" type="button" class="btn btn-primary">+ Project Details</button>
                        </div>
                        <div *ngIf="pokedexIsShown" class="mt-3">
                            <p>An application that queries about the data of historical flights of United States airlines. This project was designed to work as a front-end on a lambda architecture 
                                implemented with Hadoop-Spark on the backend.  <a href="https://freddy-abadl.medium.com/big-data-construcci%C3%B3n-de-un-cl%C3%BAster-multinodo-en-apache-spark-hadoop-consumido-por-pyspark-e10f1588bfb">More info in Medium</a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12"  data-aos="flip-up">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded"> 
              
                    <div  class="header d-flex flex-column " style="height: 300px;width: 100%; "  >    
                        <div id="portfolio-img" class="img-wrap card-header" style="height: 300px;width: 100%;" [ngStyle]="{backgroundImage:'url(assets/images/textClustering/text-clustering.jpg)'}" >
                        </div>
                        <div id="portfolio-link" class="links d-flex justify-content-center" >
                            <a href="assets/images/textClustering/text-clustering.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Text Clustering"><i class="bx bx-zoom-in bx-md"></i></a>
                            <a href="https://github.com/JonnHenry/TextClustering/blob/master/Clusters_TextMining.ipynb" title="Jupyter" target="_BLANK"><i class="bx bx-link bx-md"></i></a>
             
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Text Clustering</h3>
                        <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                        <p class="card-text">Python, Pandas</p>
                        
                        <div class="d-flex flex-row justify-content-center">
                            <a href="https://github.com/JonnHenry/TextClustering" target="_blank" type="button" class="btn btn-primary mr-3">Code Source</a> 
                            <button (click)="detailOnClick('text-clustering')"  type="button" class="btn btn-primary">+ Project Details</button>
                        </div>
                    
                        <div *ngIf="portfolioIsShown" class="mt-3">
                            <p>Project applying the knowledge acquired from Text Mining</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12"  data-aos="flip-up">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded"> 
              
                    <div  class="header d-flex flex-column " style="height: 300px;width: 100%; "  >    
                        <div id="riddle-img" class="img-wrap card-header" style="height: 300px;width: 100%;" [ngStyle]="{backgroundImage:'url(assets/images/bothAlgorithm/interfaz_1.jpg)'}" >
                        </div>
                        <div id="riddle-link" class="links d-flex justify-content-center" >
                            <a href="assets/images/bothAlgorithm/interfaz_1.jpg" data-gall="riddleGallery" class="venobox vbox-item" title="Calculator empty"><i class="bx bx-zoom-in bx-md"></i></a>
                            <a href="assets/images/bothAlgorithm/interfaz_2.jpg" data-gall="riddleGallery" class="venobox vbox-item" title="Calculator"></a>

                            <a href="#portfolio" title="Not found link" target="_BLANK"><i class="bx bx-link bx-md"></i></a>
             
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Booth's Algorithm</h3>
                        <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                        <p class="card-text">Java</p>
                        
                        <div class="d-flex flex-row justify-content-center">
                            <a href="https://github.com/JonnHenry/BoothAlgorithm" target="_blank" type="button" class="btn btn-primary mr-3">Code Source</a> 
                            <button (click)="detailOnClick('booth')"  type="button" class="btn btn-primary">+ Project Details</button>
                        </div>
                    
                        <div *ngIf="riddleIsShown" class="mt-3">
                            <p> 
                                This project was created to implement Booth's algorithm using the Java language to fully understand how the algorithm works.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>