<section id="portfolio">
    <div class="container" >
        <h2><strong>Portfolio</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
                <div class="col-lg-4 col-sm-12 " *ngFor="let project of projects" data-aos="flip-up">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded">

                      <div class="header d-flex flex-column phead" style="height: 300px;width: 100%; ">
                        <div [attr.id]="project.idImage" class="img-wrap" [ngStyle]="{ backgroundImage: 'url(' + project.image + ')' }" style="height: 300px;width: 100%;"></div>
                      </div>

                      <div class="card-body">
                        <h3 class="card-title">{{ project.title }}</h3>
                        <h5 class="card-title"><strong>Technologies:</strong></h5>
                        <p class="card-text">{{ project.technologies.join(', ') }}</p>
                        <div class="d-flex flex-row justify-content-center">
                          <a [href]="project.github" target="_blank" type="button" class="btn btn-primary mr-3">Code Source</a>
                          <button (click)="detailOnClick(project)" type="button" class="btn btn-primary">+ Project Details</button>
                        </div>

                        <div *ngIf="project.descriptionIsShow" class="mt-3">
                            <p> {{ project.description }}  </p>
                        </div>
                      </div>
                    </div>
                </div>
        </div>
    </div>
</section>